#calculator {
    width: 190px;
    position: absolute;
    background: #d6d6d6;
    padding: 5px;
    left: 25px;
    top: 25px;
    border-radius: 3px;
    box-shadow: #00000033 10px 10px 25px;
}

#calculator #display {
    height: 30px;
    background: white;
    color: black;
    text-align: right;
    margin: 2px 3px 5px 2px;
    padding: 8px 10px 0 0px;
    border-radius: 3px;
    border: 1px solid rgb(39 39 39 / 50%);
}

#calculator button {
    width: 45px;
    height: 30px;
    background: rgb(255 255 255 / 76%);
    border: 1px solid rgb(88 88 88 / 60%);
    border-radius: 3px;
}

#calculator button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#calculator button:active {
    opacity: 1;
}

#calculator table tr:last-child th:first-child button {
    width: 90px;
}

#calculator table th:last-child button {
    background-color: orange;
    border: 1px solid rgba(0, 0, 0, 0.6);
}